.header {
    display: flex;
    justify-content: center;
    background-color: black;
    color: #8e2d86;;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 4%;
}

.headerSearchInput {
    position: relative;
    flex: 0.5;
    margin-left: 1vw;
}

li {
    position: absolute;
    background-color: #fff;
    color: #000;
    width: 100%;
    padding: 5px;
    list-style-type: none;
}

.searchButton {
  
    padding: 5px;
    margin-left: 0vw;
}

.input {
    width: 90%;
    padding: 5px;
}